.App {
  text-align: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.spin {
  animation: App-logo-spin infinite 2s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.get-name-container {
  background-image: url('./images/wildcat.png');
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-modal {
  background: rgba(255, 255, 255, 0.98);
  padding: 50px;
  border-radius: 5px;
  width: 65%;
  margin: 0px auto;
}

.my-modal h1 {
  font-weight: 100;
  font-size: 50px;
}

.my-modal input {
  margin: 20px;
  width: 80%;
  border-radius: 3px;
  border: 1px solid #a5a5a5;
  padding: 5px;
  font-size: 20px;
  padding: 15px;
  margin: 20px auto;
}

.my-modal button {
  font-size: 20px;
  padding: 20px;
  width: 50%;
  margin: 0px auto;
}

.mainBtn {
  border: none;
  border-radius: 100px;
  display: inline-block;
  font-size: 30px;
  padding: 98px 75px;
  background: #880000;
  color: #fff;
  box-shadow: 0 10px 30px rgba(0,0,0,.25);
  position: relative;
  top: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.mainBtn:focus {
  outline: none;
}

.count {
  font-size: 50px;
}

.winner {
  font-size: 80px;
  font-weight: bold;
  display: block;
  margin: 0px auto;
}